<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina di Errore</title>
     <#include "bootstrap_inc.ftl">
</head>
<body>
    <#include "head.ftl">
    <h1>Errore!</h1>
    
    
</body>
</html>
